/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width:100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.checkbox-container {
  position:absolute;
  bottom:80px;
  z-index:100;
  width:200px;
  left:calc(100% - 250px);
  display:flex;
  flex-wrap:wrap;

}

.checkbox-container .checkbox{
  width:100%;
}


.range-container {
  position:absolute;
  left:40px;
  bottom:60px;
  z-index:100;
  min-width:160px;
  display:flex;
  flex-wrap:wrap;
}


.range-container input{
  width:100%;
}

.slider-container h4{
  margin:0px;
  width:250px;
}

.slider-range-container {
  width:calc(100% + 8px);
  margin-left:-4px;
  display:flex;
  justify-content:space-between
}

.slider-range-container span{
  display:block;
  width:16px;
  text-align:center;
}

